/** freleap projcet css date:2014-07-30**/
@charset utf-8;
/** css reset **/
html,body{ width: 100%; height: 100%;}
body{font-size:14px;color:#666;font-family: Microsoft Yahei, arial,sans-serif;}
body,ul,li,ol,div,dl,dd,form,fieldset,legend,input,button,textarea,th,td{margin:0;padding:0}
ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
img{border:none}
img,select,input,textarea,button{vertical-align:middle}
a{color:#777;text-decoration:none;cursor:pointer; transition:all .2s ease-in;-webkit-transition:all .2s ease-in;}
a.active{color:#1ba1e2;}
a:hover{color:#dc4f35; }
.gclearfix:after,#channel:after,.hd:after,.bd:after,.ft:after,.gmodule:after{display:block;clear:both;visibility:hidden;height:0;content:''}
.gclearfix,#channel,.hd,.bd,.ft,.gmodule{zoom:1}
.doc-hd,.doc-bd,.doc-ft{ position:relative; }
.wrap{  z-index:1;position:relative;width:100%;}
.clear{height:0; clear:both;}
/** end css reset **/
/** svg icon **/
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	margin-right: 10px;
	color: #000000;
	fill: currentColor;
}

.icon-menu {
	width: 24px;
	height: 24px;
}
.icon-bookmark {
	width: 32px;
	height: 32px;
}
.icon-github {
	width: 20px;
	height: 20px;
}
.icon-arrow-down2 {
	width: 20px;
	height: 20px;
}
.icon-googleplus2 {
	width: 20px;
	height: 20px;
}
.icon-sina-weibo {
	width: 20px;
	height: 20px;
}

/** end svg icon **/

#loading{ display:none; position:absolute; left:50%; top:0px; width:150px;  height:30px; margin-left:-75px;  background-color:#ea6153; font-family:SimSun; text-align:center; font-size:13px; color:#fff; line-height:30px;
  border-bottom-left-radius:4px;border-bottom-right-radius:4px; z-index:100;
}
#page{position:relative; width:100%; height:100%; overflow:auto;  }

aside{ z-index:100;position: absolute; left:0px; top:0; bottom:0px; width:260px;  
	background-color:#000;box-shadow: 10px 0px 20px rgba(0,0,0,.1);-moz-box-shadow: 10px 0px 20px rgba(0,0,0,.1);
       -webkit-box-shadow: 10px 0px 20px rgba(0,0,0,.1);   
}
aside ul{margin-top:75px; margin-left: 15px;}
aside ul li{  height:35px;}
aside ul li a{position: relative;color:#999;}
aside ul li a:hover{color:#f1f1f1;}
aside ul li a.active{color:#fff;}
aside ul li .notion{ overflow:hidden;position: absolute; right:-20px; top:-5px; width:16px; height:16px; border-radius: 8px; background-color:#3498db; 
	color:#f3f3f3; font-size:12px; line-height: 18px; text-align: center;}
aside ul li .notion.more{ right:-10px; top:0px; width:7px; height:7px; color:#3498db;}
aside .ft{ position: absolute; bottom:0px;left:0px; width:100%; padding-top:15px; padding-bottom: 15px; color:#888; font-size:12px; line-height:18px;
	text-align: center; }
aside .ft a{color:#888; }
aside .ft a:hover{ color:#eee;}
header{ z-index: 10; position:fixed;width:100%; height:50px;  line-height: 48px; vertical-align: middle; background: #fff;box-shadow: 0 1px 2px rgba(0,0,0,.1);}
header.transprent{background: none;}
header .container{position:relative;width: 95%; height:30px; margin: 7px auto; text-align: right;}
header .container .title{
	float: left;
	text-align: left;
	color:#333;
	font-size: 15px;
	margin-left: 10px;
	line-height: 38px;
}
header .container .title a{
    margin-left: 20px;
}
header .icon{
	display: inline-block;
	position: relative;
	width:20px;
	margin-right:10px;
	height: 20px;
	color:#888;
	transition:all .2s ease .1s;
}
header .icon:hover{
	fill:#333;
}
header .icon:hover .text{
	display: block;
}
header .icon .text{
	display: none;
	position: absolute;
	top:35px;
	left:-52px;
	width: 120px;
	height:28px;
	background-color: #e74c3c;
	border-radius:3px;
	color:#f3f3f3;
	font-size: 12px;
	line-height: 28px;
	text-align: center;
}
header .icon .text:after{
	content: '';
	display: block;
	position: absolute;
	left:50%;
	top:-10px;
	margin-left: -4px;
	border-width: 5px;
	border-style: solid solid dashed dashed;
	border-color: transparent transparent #e74c3c transparent;
}
.over-layout{
	z-index: 9;
	overflow: hidden;
	position: fixed;
	left:0;
	right: 0;
	top:0;
	height: 0;
	border-width: 0;
	background-color: rgba(0,0,0,.7);
	transition:border-width .4s linear .1s;
}
.over-layout.active{
	border-width: 50px;
	border-style: solid;
	height: 100%;
	border-color:#222;
}
.over-layout .list{
	position: absolute;
	left:60px;
	right: 60px;
	top:60px;
	bottom:60px;
}
.over-layout .list li{
	overflow: hidden;
	float: left;
	box-sizing:padding-box;
	padding-left: 10px;
	width:30%;
	margin-left: 1%;
	height: 44px;
	line-height: 44px;
	border-bottom:1px solid rgba(255,255,255,.2);
	opacity: 0;
	transition:all .5s ease .6s;
	transform:  translateX(50px);
	-webkit-transform:  translateX(50px);

}
.over-layout .list li a {
	color:#fff;
}
.over-layout.active .list li{
	opacity: 1;
	transform:translateX(0);
	-webkit-transform:translateX(0);
}
#page{
	padding-top: 50px;
}
#page.blur{
    -webkit-filter: blur(2px);
}
#page .header{
    height: 200px;
    background:#444 url(../img/tutorials-bannar.jpg) no-repeat center top;
    line-height: 320px;
    text-align: center;
    color:#f1f1f1;
    font-size: 25px;
}
#page .page-view{
	position: relative;
    width: 720px;
	margin:40px auto;
}
#page .page-view ul,#page .page-view ol{
    margin-left: 25px;
}

#footer{ position:relative;width:720px; margin: 120px auto; border-top:1px solid #e6e6e6;}
#footer a{ margin:10px; line-height: 45px; color:#888;  }
#footer a:hover{ color:#555;}

h5{
    text-align: center;
    font-size: 18px;
    line-height: 90px;
}

.hbox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    width: 100%;
    margin-top: 15px;
}

.hbox > * {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;
    display: block;
}

span.spacer {
    color: #2e87dd;
    margin: 0 3px 0 5px;
    background-image: url(../img/dot.png)   ;
    background-repeat: repeat-x;
    background-position: left 13px;
}

 .boxFlex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
 }







/**othrer page style**/
#sprite .icon-bg{
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(../../res/svg-sprite-background.svg) no-repeat center top;
        vertical-align: middle; 
    }
    #sprite  .icon-facebook-logo{
        background-position: 0 0;
    }
    #sprite  .icon-earth{
        background-position: 0 -30px;
    }
    #sprite  .icon-like2{
        background-position: 0 -60px;
    }
    
   #sprite  .icon{
        width: 30px;
        height: 30px;
        fill:#1ba1e2;
        stroke:#333;
        vertical-align: middle;
        margin-right: 15px;
    }
    
    #sprite .icon-css{
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url(../../res/demo1.svg);
        vertical-align: middle;
    }
    #sprite .icon-facebook{
        background-position: 0 0;
    }
   #sprite  .icon-twitter{
        background-position: 0 -30px;
    }
    #sprite .icon-instagram{
        background-position: 0 -60px;
    }
    
    #sprite .svg-icon{
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-right: 15px;
    }
    
    #sprite .icon-blue{
        fill:#2980b9;
    }
   #sprite  .icon-red{
        fill:#d14233;
    }





